services:
  postgres:
    image: postgres:15
    container_name: portfolio_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: portfolio_backend
    env_file:
      - .env
    ports:
      - "4001:4000"
    depends_on:
      - postgres

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: portfolio_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
